<nav class="blue darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="button-collapse sidenav-trigger show-on-large"><i class="fa fa-bars"></i></a>
            <a href="#!" class="brand-logo center">ITSD Ticketing System</a>
            <ul class="right hide-on-small-only">
                {{!-- {{#if user}} --}}
                    <li><a href="/tickets"><i class="fas fa-ticket-alt fa-sm"></i> Home</a></li>
                    <li><a href="/dashboard"><i class="fa fa-cog fa-sm"></i> {{user.firstName}}</a></li>
                    <li><a href="/users/logout"><i class="fa fa-sign-out fa-sm"></i> Sign out</a></li>
                {{!-- {{else}} --}}
                    <li><a href="/users/login"> Sign in</a></li>
                    <li><a href="/users/register"> Sign up</a></li>
                {{!-- {{/if}} --}}
            </ul>
        </div>
    </div>
</nav>
 <ul id="slide-out" class="sidenav">
    <li><a href=""><i class="fas fa-ticket-alt"></i> Home</a></li>
    <li><a href=""><i class="fa fa-cog"></i> Dashboard</a></li>
    <li class="divider"></li>
    <li><a href=""><i class="fa fa-sign-out"></i> Sign out</a></li>
    <li><a href="/users/login"> Sign in</a></li>
    <li><a href="/users/register"> Sign up</a></li>
</ul>
