<div class="row">
    <div class="col s12 m12">
        <h3 class="header">Ticket your concern</h3>
        <div class="card custom-card-form">
            <div class="card-content">
                <form action="/tickets" method="post">
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="input-field">
                                <label for="requestedBy">Requested By</label>
                                <input type="text" name="requestedBy" value="{{user.name}}" readonly class="readonly">
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field">
                                <select name="department" id="">
                                    <option value="information_technology" selected>Information Technology</option>
                                    <option value="finance">Finance</option>
                                    <option value="accounting">Accounting</option>
                                    <option value="marketing">Marketing</option>
                                    <option value="sales">Sales</option>
                                </select>
                                <label for="department">Department</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="input-field">
                                <label for="local">Local</label>
                                <input type="number" name="local">
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="input-field">
                                <select name="typeOfWork" id="">
                                    <option value="software" selected>Software</option>
                                    <option value="technical">Technical</option>
                                </select>
                                <label for="typeOfWork">Type of Work</label>
                            </div>
                        </div>
                        <div class="col s12 m4">
                             <div class="input-field">
                                <select name="system" id="">
                                    <option value="cf4_generator" selected>CF4 Generator</option>
                                    <option value="medsys">Medsys</option>
                                    <option value="bizbox">Bizbox</option>
                                    <option value="hris">HRIS</option>
                                    <option value="queueing">Queueing</option>
                                </select>
                                <label for="system">System</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                             <div class="input-field">
                                <label for="problem">Problem</label>
                                <textarea name="problem" class="materialize-textarea" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="row">
                        <div class="col s12 m6">
                            <div class="input-field">
                                <select name="assignedTo" id="">
                                    <option value="hermano.mark.mh@gmail.com" selected>Mark Hermano</option>
                                    <option value="hermano.mark@yahoo.com">Mark Hermano Second</option>
                                </select>
                                <label for="assignedTo">Assigned To</label>
                            </div>
                        </div>
                        <div class="col s12 m6">
                             <div class="input-field">
                                <select name="status" id="">
                                    <option value="open" selected>Open</option>
                                    <option value="onprocess">On process</option>
                                    <option value="closed">Closed</option>
                                </select>
                                <label for="status">Status</label>
                            </div>
                        </div>
                    </div> --}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>