/* * {
    outline: solid 1px red;   
} */

body {
    font-family: "Trebuchet MS";
}

.welcome-card {
    margin-top: 50px;
}

.custom-card-form {
    margin-top: 40px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.capitalize {
    text-transform: capitalize;
}

