<nav class="blue darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="button-collapse sidenav-trigger show-on-large"><i class="fa fa-bars"></i></a>
            <a href="/" class="brand-logo center">ITSD Ticketing</a>
            <ul class="right hide-on-small-only">
                {{#if user}}
                    <li><a href="/tickets"><i class="fas fa-ticket-alt fa-sm"></i> Home</a></li>
                    <li><a href="/tickets/dashboard"><i class="fa fa-cog fa-sm"></i> Dashboard</a></li>
                    <li><a href="/users/logout"><i class="fa fa-sign-out fa-sm"></i> Sign out</a></li>
                {{else}}
                    <li><a href="/users/login"> Sign in</a></li>
                    <li><a href="/users/register"> Sign up</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
 <ul id="slide-out" class="sidenav">
    {{#if user}}
    <li><a href="#"><i class="fas fa-user"></i> Welcome {{user.name}}</a></li>
    <li><a href="/tickets"><i class="fas fa-ticket-alt"></i> Home</a></li>
    <li><a href="/tickets/dashboard"><i class="fa fa-cog"></i> Dashboard</a></li>
    {{#supportRole user.isSupport}}
    <li><a href="/tickets/onprocess"><i class="fas fa-envelope-open-text"></i> OnProcess</a></li>
    <li><a href="/tickets/closed"><i class="fas fa-door-closed"></i> Closed</a></li>
    {{/supportRole}}
    {{#adminRole user.isAdmin}}
    <li><a href="/users"><i class="fas fa-users"></i> Manage Accounts</a></li>
    {{/adminRole}}
    <li class="divider"></li>
    <li><a href="/users/logout"><i class="fa fa-sign-out"></i> Sign out</a></li>
    {{else}}
    <li><a href="/users/login"> Sign in</a></li>
    <li><a href="/users/register"> Sign up</a></li>
    {{/if}}
</ul>
